<!-- Navbar -->
<nav>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4">
        <div class="mm-toggle-wrap">
          <div class="mm-toggle"> <i class="fa fa-align-justify"></i> </div>
          <span class="mm-label">Categories</span>
        </div>
        <div class="mega-container visible-lg visible-md visible-sm">
          <div class="navleft-container">
            <div class="mega-menu-title">
              <h3>Shop by category</h3>
            </div>
            <div class="mega-menu-category">
              <ul class="nav">
                <li> <a href="#">Vegetables</a>
                  <div class="wrap-popup">
                    <div class="popup">
                      <div class="row">
                        <div class="col-md-4 col-sm-6">
                          <ul class="nav">
                            <li><a href="#"><span>Canon</span></a></li>
                            <li><a href="#"><span>Nikon</span></a></li>
                            <li><a href="#"><span>Olympus</span> </a></li>
                            <li><a href="#"><span>ALPA</span> </a></li>
                            <li> <a href="#"><span>Bolex</span></a></li>
                            <li><a href="#"><span>Samsung </span></a></li>
                            <li><a href="#"><span>Panasonic</span></a></li>
                            <li><a href="#"><span>Thomson </span></a></li>
                            <li><a href="#"><span>Bell & Howell</span></a></li>
                          </ul>
                        </div>
                        <div class="col-md-4 col-sm-6 has-sep">
                          <ul class="nav">
                            <li><a href="#"><span>Digital camera</span></a></li>
                            <li><a href="#"><span>High-speed</span></a></li>
                            <li><a href="#"><span>Camera phone</span> </a></li>
                            <li><a href="#"><span>Multiplane</span> </a></li>
                            <li> <a href="#"><span>Pocket camera</span></a></li>
                            <li><a href="#"><span>Video camera</span></a></li>
                            <li><a href="#"><span>Zenith camera</span></a></li>
                            <li><a href="#"><span>Single-lens reflex</span></a></li>
                            <li><a href="#"><span>Light-field</span></a></li>
                          </ul>
                        </div>
                        <div class="col-md-4 has-sep hidden-sm">
                          <div class="custom-menu-right">
                            <div class="box-banner menu-banner">
                              <div class="add-right"><a href="#"><img src="assets/images/menu-img4.jpg" alt=""></a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li> <a href="#">Fruits</a>
                  <div class="wrap-popup">
                    <div class="popup">
                      <div class="row">
                        <div class="col-md-4 col-sm-6">
                          <h3>Dell</h3>
                          <ul class="nav">
                            <li><a href="#">Dell Inspiron 3558</a></li>
                            <li><a href="#">Dell Adapter </a></li>
                            <li><a href="#">Optical USB Mouse</a></li>
                            <li><a href="#">Laptop Battery</a></li>
                          </ul>
                          <br>
                          <h3>Microsoft</h3>
                          <ul class="nav">
                            <li> <a href="#">Lumia 550 4G</a> </li>
                            <li> <a href="#">Surface Pro 4</a> </li>
                            <li> <a href="#">HTC Desire 620G</a> </li>
                            <li> <a href="#">DMG Flip Cover</a> </li>
                            <li> <a href="#">Silicone Keyboard</a> </li>
                          </ul>
                        </div>
                        <div class="col-md-4 col-sm-6 has-sep">
                          <h3>Apple</h3>
                          <ul class="nav">
                            <li> <a href="#">Apple Macbook Pro</a> </li>
                            <li> <a href="#">Newest Apple Macbook Pro</a> </li>
                            <li> <a href="#">Retina Display Laptop</a> </li>
                            <li> <a href="#">Silicone Keyboard</a> </li>
                          </ul>
                          <br>
                          <h3>Lenovo</h3>
                          <ul class="nav">
                            <li> <a href="#">Lenovo Yoga 300</a> </li>
                            <li> <a href="#">Lenovo IdeaPad</a> </li>
                            <li> <a href="#">Tab 3 A710F Tablet</a> </li>
                            <li> <a href="#">Channel Speakers</a> </li>
                            <li> <a href="#">Accessories</a> </li>
                          </ul>
                        </div>
                        <div class="col-md-4 has-sep hidden-sm">
                          <div class="custom-menu-right">
                            <div class="box-banner media">
                              <div class="add-desc">
                                <h3>Computer <br>
                                  Services </h3>
                                <div class="price-sale">2017</div>
                                <a href="#">Shop Now</a>
                              </div>
                              <div class="add-right"><a href="#"><img src="assets/images/menu-img1.jpg" alt=""></a>
                              </div>
                            </div>
                            <div class="box-banner media">
                              <div class="add-desc">
                                <h3>Save up to</h3>
                                <div class="price-sale">75 <sup>%</sup><sub>off</sub></div>
                                <a href="#">Shopping Now</a>
                              </div>
                              <div class="add-right"><a href="#"><img src="assets/images/menu-img2.jpg" alt=""></a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li> <a href="#">Apple Store</a>
                  <div class="wrap-popup column2">
                    <div class="popup">
                      <div class="row">
                        <div class="col-sm-6">
                          <h3>iPhone</h3>
                          <ul class="nav">
                            <li> <a href="#"> iPhone SE </a> </li>
                            <li> <a href="#s"> iPhone 6s Plus </a> </li>
                            <li> <a href="#"> iPhone 3G </a> </li>
                            <li> <a href="#"> iPad Pro </a> </li>
                          </ul>
                        </div>
                        <div class="col-sm-6 has-sep">
                          <h3> Watch </h3>
                          <ul class="nav">
                            <li> <a href="#"> Quartz Watches </a> </li>
                            <li> <a href="#"> Lover's Watches</a> </li>
                            <li> <a href="#"> Digital Watches </a> </li>
                            <li> <a href="#"> Sport Watch </a> </li>
                          </ul>
                        </div>
                        <div class="col-sm-12"> <a class="ads1" href="#"><img class="img-responsive"
                              src="assets/images/menu-img3.jpg" alt=""></a> </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li> <a href="#">New Arrivals</a>
                  <div class="wrap-popup column1">
                    <div class="popup">
                      <ul class="nav">
                        <li><a href="#"><span>Envent Stereo</span></a></li>
                        <li><a href="#"><span>Sennheiser</span></a></li>
                        <li><a href="#"><span>Philips</span></a></li>
                        <li><a href="#"><span>Sony</span></a></li>
                        <li><a href="#"><span>Avantree</span></a></li>
                        <li><a href="#"><span>Bajaao</span></a></li>
                        <li><a href="#"><span>FiiO</span></a></li>
                        <li><a href="#"><span>Audio-Technica</span></a></li>
                        <li><a href="#"><span>LUXA2</span></a></li>
                        <li><a href="#"><span>Geekria</span></a></li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li><a href="#">Most Popular</a>
                  <div class="wrap-popup column1">
                    <div class="popup">
                      <ul class="nav">
                        <li> <a href="#"> Vacuum Cleaner </a> </li>
                        <li> <a href="#"> Memore Bluetooth</a> </li>
                        <li> <a href="#"> On-Ear Headphones </a> </li>
                        <li> <a href="#"> Digital MP3 Player </a> </li>
                      </ul>
                    </div>
                  </div>
                </li>
                <li class="nosub"><a href="#">Meat</a></li>
                <li class="nosub"><a href="#">Special Gift</a></li>
                <li class="nosub"><a href="#">Deal of the Day</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-9 col-sm-8">
        <div class="mtmegamenu">
          <ul>
            <li class="mt-root demo_custom_link_cms">
              <div class="mt-root-item"><a href="#">
                  <div class="title title_font"><span class="title-text">Home</span></div>
                </a></div>
              <ul class="menu-items col-md-3 col-sm-4 col-xs-12">
                <li><a href="../#">Home Version 1</a></li>
                <li><a href="#">Home Version 2</a></li>
              </ul>
            </li>
            <li class="mt-root">
              <div class="mt-root-item"><a href="#">
                  <div class="title title_font"><span class="title-text">Page</span></div>
                </a></div>
              <ul class="menu-items col-xs-12">
                <li class="menu-item depth-1 menucol-1-3 ">
                  <div class="title title_font"> <a href="#"> Shop Pages </a></div>
                  <ul class="submenu">
                    <li class="menu-item">
                      <div class="title"> <a href="#"> Shop grid </a></div>
                    </li>
                    <li class="menu-item">
                      <div class="title"> <a href="#"> Shop grid right sidebar</a></div>
                    </li>
                    <li class="menu-item">
                      <div class="title"> <a href="#"> Shop list </a></div>
                    </li>
                    <li class="menu-item">
                      <div class="title"> <a href="#"> Shop list right sidebar</a></div>
                    </li>
                    <li class="menu-item">
                      <div class="title"> <a href="#"> Shop grid full width </a></div>
                    </li>
                  </ul>
                </li>
                <li class="menu-item depth-1 menucol-1-3 ">
                  <div class="title title_font"> <a href="#"> Ecommerce Pages </a></div>
                  <ul class="submenu">
                    <li class="menu-item">
                      <div class="title"> <a href="#"> Wishlists </a></div>
                    </li>
                    <li class="menu-item">
                      <div class="title"> <a href="#"> Checkout </a></div>
                    </li>
                    <li class="menu-item">
                      <div class="title"> <a href="#"> Compare </a></div>
                    </li>
                    <li class="menu-item">
                      <div class="title"> <a href="#"> Shopping cart </a></div>
                    </li>
                    <li class="menu-item">
                      <div class="title"> <a href="#"> Quick View </a></div>
                    </li>
                  </ul>
                </li>
                <li class="menu-item depth-1 menucol-1-3 ">
                  <div class="title title_font"> <a href="#"> Static Pages </a></div>
                  <ul class="submenu">
                    <li class="menu-item depth-2 category ">
                      <div class="title"> <a href="#"> Create Account Page </a></div>
                    </li>
                    <li class="menu-item">
                      <div class="title"> <a href="#"> About Us </a></div>
                    </li>
                    <li class="menu-item">
                      <div class="title"> <a href="#"> Contact us </a></div>
                    </li>
                    <li class="menu-item">
                      <div class="title"> <a href="#"> Error 404 </a></div>
                    </li>
                    <li class="menu-item">
                      <div class="title"> <a href="#"> FAQ </a></div>
                    </li>
                  </ul>
                </li>
                <li class="menu-item depth-1 menucol-1-3 ">
                  <div class="title title_font"> <a href="#"> Product Categories </a></div>
                  <ul class="submenu">
                    <li class="menu-item">
                      <div class="title"> <a href="#"> 3 Column Sidebar </a></div>
                    </li>
                    <li class="menu-item">
                      <div class="title"> <a href="#"> 4 Column Sidebar</a></div>
                    </li>
                    <li class="menu-item">
                      <div class="title"> <a href="#"> 4 Column Full width </a></div>
                    </li>
                    <li class="menu-item">
                      <div class="title"> <a href="#"> 6 Columns Full width</a></div>
                    </li>
                  </ul>
                </li>
                <li class="menu-item depth-1 menucol-1-3 ">
                  <div class="title title_font"> <a href="#"> Single Product Pages </a></div>
                  <ul class="submenu">
                    <li class="menu-item">
                      <div class="title"> <a href="#l"> single product </a></div>
                    </li>
                    <li class="menu-item">
                      <div class="title"> <a href="#"> single product left sidebar</a></div>
                    </li>
                    <li class="menu-item">
                      <div class="title"> <a href="#"> single product right sidebar</a></div>
                    </li>
                    <li class="menu-item">
                      <div class="title"> <a href="#"> single product magnify zoom</a></div>
                    </li>
                  </ul>
                </li>
                <li class="menu-item depth-1 menucol-1-3 ">
                  <div class="title title_font"> <a href="#"> Blog Pages </a></div>
                  <ul class="submenu">
                    <li class="menu-item">
                      <div class="title"> <a href="#"> Blog – Right Sidebar </a></div>
                    </li>
                    <li class="menu-item">
                      <div class="title"> <a href="#"> Blog – Left Sidebar </a></div>
                    </li>
                    <li class="menu-item">
                      <div class="title"> <a href="#"> Blog – Full-Width </a></div>
                    </li>
                    <li class="menu-item">
                      <div class="title"> <a href="#"> Single post </a></div>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="mt-root">
              <div class="mt-root-item"><a href="#">
                  <div class="title title_font"><span class="title-text">Contact Us</span> </div>
                </a></div>
            </li>
            <li class="mt-root">
              <div class="mt-root-item"><a href="#">
                  <div class="title title_font"><span class="title-text">about us</span></div>
                </a></div>
            </li>
            <li class="mt-root demo_custom_link_cms">
              <div class="mt-root-item"><a href="#">
                  <div class="title title_font"><span class="title-text">Blog</span></div>
                </a></div>
              <ul class="menu-items col-md-3 col-sm-4 col-xs-12">
                <li class="menu-item depth-1">
                  <div class="title"> <a href="#"> Blog – Right Sidebar </a></div>
                </li>
                <li class="menu-item depth-1">
                  <div class="title"> <a href="#"> Blog – Left Sidebar </a></div>
                </li>
                <li class="menu-item depth-1">
                  <div class="title"> <a href="#"> Blog – Full-Width </a></div>
                </li>
                <li class="menu-item depth-1">
                  <div class="title"> <a href="#"> Single post </a></div>
                </li>
              </ul>
            </li>
            <li class="mt-root">
              <div class="mt-root-item">
                <div class="title title_font"><span class="title-text">Best Seller</span></div>
              </div>
              <ul class="menu-items col-xs-12">
                <li class="menu-item depth-1 product menucol-1-3 withimage">
                  <div class="product-item">
                    <div class="item-inner">
                      <div class="product-thumbnail">
                        <div class="icon-sale-label sale-left">Sale</div>
                        <div class="pr-img-area"> <a title="Ipsums Dolors Untra" href="#l">
                            <figure> <img class="first-img" src="assets/images/products/img06.jpg" alt=""> <img
                                class="hover-img" src="assets/images/products/img06.jpg" alt=""></figure>
                          </a>
                          <button type="button" class="add-to-cart-mt"> <i class="fa fa-shopping-cart"></i><span> Add to
                              Cart</span> </button>
                        </div>
                        <div class="pr-info-area">
                          <div class="pr-button">
                            <div class="mt-button add_to_wishlist"> <a href="#"> <i class="fa fa-heart"></i> </a> </div>
                            <div class="mt-button add_to_compare"> <a href="#"> <i class="fa fa-signal"></i> </a> </div>
                            <div class="mt-button quick-view"> <a href="#"> <i class="fa fa-search"></i> </a> </div>
                          </div>
                        </div>
                      </div>
                      <div class="item-info">
                        <div class="info-inner">
                          <div class="item-title"> <a title="Ipsums Dolors Untra" href="#l">Ipsums Dolors Untra </a>
                          </div>
                          <div class="item-content">
                            <div class="rating"> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i
                                class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i>
                            </div>
                            <div class="item-price">
                              <div class="price-box"> <span class="regular-price"> <span class="price">$125.00</span>
                                </span> </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="menu-item depth-1 product menucol-1-3 withimage">
                  <div class="product-item">
                    <div class="item-inner">
                      <div class="product-thumbnail">
                        <div class="icon-sale-label sale-left">Sale</div>
                        <div class="pr-img-area"> <a title="Ipsums Dolors Untra" href="#l">
                            <figure> <img class="first-img" src="assets/images/products/img02.jpg" alt=""> <img
                                class="hover-img" src="assets/images/products/img02.jpg" alt=""></figure>
                          </a>
                          <button type="button" class="add-to-cart-mt"> <i class="fa fa-shopping-cart"></i><span> Add to
                              Cart</span> </button>
                        </div>
                        <div class="pr-info-area">
                          <div class="pr-button">
                            <div class="mt-button add_to_wishlist"> <a href="#"> <i class="fa fa-heart"></i> </a> </div>
                            <div class="mt-button add_to_compare"> <a href="#"> <i class="fa fa-signal"></i> </a> </div>
                            <div class="mt-button quick-view"> <a href="#"> <i class="fa fa-search"></i> </a> </div>
                          </div>
                        </div>
                      </div>
                      <div class="item-info">
                        <div class="info-inner">
                          <div class="item-title"> <a title="Ipsums Dolors Untra" href="#l">Ipsums Dolors Untra </a>
                          </div>
                          <div class="item-content">
                            <div class="rating"> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i
                                class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i>
                            </div>
                            <div class="item-price">
                              <div class="price-box"> <span class="regular-price"> <span class="price">$125.00</span>
                                </span> </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="menu-item depth-1 product menucol-1-3 withimage">
                  <div class="product-item">
                    <div class="item-inner">
                      <div class="icon-sale-label sale-left">Sale</div>
                      <div class="icon-new-label new-right">New</div>
                      <div class="product-thumbnail">
                        <div class="icon-sale-label sale-left">Sale</div>
                        <div class="pr-img-area"> <a title="Ipsums Dolors Untra" href="#l">
                            <figure> <img class="first-img" src="assets/images/products/img03.jpg" alt=""> <img
                                class="hover-img" src="assets/images/products/img03.jpg" alt=""></figure>
                          </a>
                          <button type="button" class="add-to-cart-mt"> <i class="fa fa-shopping-cart"></i><span> Add to
                              Cart</span> </button>
                        </div>
                        <div class="pr-info-area">
                          <div class="pr-button">
                            <div class="mt-button add_to_wishlist"> <a href="#"> <i class="fa fa-heart"></i> </a> </div>
                            <div class="mt-button add_to_compare"> <a href="#"> <i class="fa fa-signal"></i> </a> </div>
                            <div class="mt-button quick-view"> <a href="#"> <i class="fa fa-search"></i> </a> </div>
                          </div>
                        </div>
                      </div>
                      <div class="item-info">
                        <div class="info-inner">
                          <div class="item-title"> <a title="Ipsums Dolors Untra" href="#l">Ipsums Dolors Untra </a>
                          </div>
                          <div class="item-content">
                            <div class="rating"> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i
                                class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i>
                            </div>
                            <div class="item-price">
                              <div class="price-box"> <span class="regular-price"> <span class="price">$125.00</span>
                                </span> </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
<!-- end nav -->
