<!-- mobile menu -->
<div id="mobile-menu">
  <ul>
    <li><a href="#" class="home1">Home</a>
      <ul>
        <li><a href="../#">Home Version 1</a></li>
        <li><a href="#">Home Version 2</a></li>
      </ul>
    </li>
    <li><a href="#">Pages</a>
      <ul>
        <li><a href="#" class="">Shop Pages </a>
          <ul>
            <li> <a href="#"> Shop grid </a> </li>
            <li> <a href="#"> Shop grid right sidebar</a> </li>
            <li> <a href="#"> Shop list </a> </li>
            <li> <a href="#"> Shop list right sidebar</a> </li>
            <li> <a href="#"> Shop Full width </a> </li>
          </ul>
        </li>
        <li><a href="#">Ecommerce Pages </a>
          <ul>
            <li> <a href="#"> Wishlists </a> </li>
            <li> <a href="#"> Checkout </a> </li>
            <li> <a href="#"> Compare </a> </li>
            <li> <a href="#"> Shopping cart </a> </li>
            <li> <a href="#"> Quick View </a> </li>
          </ul>
        </li>
        <li> <a href="#">Static Pages </a>
          <ul>
            <li> <a href="#"> Create Account Page </a> </li>
            <li> <a href="#"> About Us </a> </li>
            <li> <a href="#"> Contact us </a> </li>
            <li> <a href="#"> Error 404 </a> </li>
            <li> <a href="#"> FAQ </a> </li>
          </ul>
        </li>
        <li> <a href="#">Product Categories </a>
          <ul>
            <li> <a href="#"> 3 Column Sidebar </a> </li>
            <li> <a href="#"> 4 Column Sidebar</a> </li>
            <li> <a href="#"> 4 Column Full width </a> </li>
            <li> <a href="#"> 6 Columns Full width</a> </li>
          </ul>
        </li>
        <li> <a href="#">Single Product Pages </a>
          <ul>
            <li><a href="#l"> single product </a> </li>
            <li> <a href="#"> single product left sidebar</a> </li>
            <li> <a href="#"> single product right sidebar</a> </li>
            <li> <a href="#"> single product magnify zoom</a> </li>
          </ul>
        </li>
        <li> <a href="#"> Blog Pages </a>
          <ul>
            <li><a href="#">Blog – Right sidebar </a></li>
            <li><a href="#">Blog – Left sidebar </a></li>
            <li><a href="#">Blog_ - Full width</a></li>
            <li><a href="#">Single post </a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li><a href="#">Contact us</a></li>
    <li><a href="#">About us</a></li>
    <li><a href="#">Blog</a>
      <ul>
        <li><a href="#">Blog – Right sidebar </a></li>
        <li><a href="#">Blog – Left sidebar </a></li>
        <li><a href="#">Blog_ - Full width</a></li>
        <li><a href="#">Single post </a></li>
      </ul>
    </li>
    <li><a href="#">Vegetables</a>
      <ul>
        <li><a href="#" class="">Accessories</a>
          <ul>
            <li><a href="#">Cocktail</a></li>
            <li><a href="#">Day</a></li>
            <li><a href="#">Evening</a></li>
            <li><a href="#">Sundresses</a></li>
          </ul>
        </li>
        <li><a href="#">Dresses</a>
          <ul>
            <li><a href="#">Accessories</a></li>
            <li><a href="#">Hats and Gloves</a></li>
            <li><a href="#">Lifestyle</a></li>
            <li><a href="#">Bras</a></li>
          </ul>
        </li>
        <li> <a href="#">Shoes</a>
          <ul>
            <li> <a href="#">Flat Shoes</a> </li>
            <li> <a href="#">Flat Sandals</a> </li>
            <li> <a href="#">Boots</a> </li>
            <li> <a href="#">Heels</a> </li>
          </ul>
        </li>
        <li> <a href="#">Jwellery</a>
          <ul>
            <li> <a href="#">Bracelets</a> </li>
            <li> <a href="#">Necklaces &amp; Pendent</a> </li>
            <li> <a href="#">Pendants</a> </li>
            <li> <a href="#">Pins &amp; Brooches</a> </li>
          </ul>
        </li>
        <li> <a href="#">Dresses</a>
          <ul>
            <li> <a href="#">Casual Dresses</a> </li>
            <li> <a href="#">Evening</a> </li>
            <li> <a href="#">Designer</a> </li>
            <li> <a href="#">Party</a> </li>
          </ul>
        </li>
        <li> <a href="#">Swimwear</a>
          <ul>
            <li> <a href="#">Swimsuits</a> </li>
            <li> <a href="#">Beach Clothing</a> </li>
            <li> <a href="#">Clothing</a> </li>
            <li> <a href="#">Bikinis</a> </li>
          </ul>
        </li>
      </ul>
    </li>
    <li><a href="#">Fruits</a>
      <ul>
        <li> <a href="#" class="">Clothing</a>
          <ul class="level1">
            <li class="level2 nav-6-1-1"> <a href="#">Coats &amp; Jackets</a> </li>
            <li class="level2 nav-6-1-1"> <a href="#">Raincoats</a> </li>
            <li class="level2 nav-6-1-1"> <a href="#">Blazers</a> </li>
            <li class="level2 nav-6-1-1"> <a href="#">Jackets</a> </li>
          </ul>
        </li>
        <li> <a href="#">Dresses</a>
          <ul class="level1">
            <li class="level2 nav-6-1-1"> <a href="#">Casual Dresses</a> </li>
            <li class="level2 nav-6-1-1"> <a href="#">Evening</a> </li>
            <li class="level2 nav-6-1-1"> <a href="#">Designer</a> </li>
            <li class="level2 nav-6-1-1"> <a href="#">Party</a> </li>
          </ul>
        </li>
        <li> <a href="#" class="">Shoes</a>
          <ul class="level1">
            <li class="level2 nav-6-1-1"> <a href="#">Sport Shoes</a> </li>
            <li class="level2 nav-6-1-1"> <a href="#">Casual Shoes</a> </li>
            <li class="level2 nav-6-1-1"> <a href="#">Leather Shoes</a> </li>
            <li class="level2 nav-6-1-1"> <a href="#">canvas shoes</a> </li>
          </ul>
        </li>
        <li> <a href="#">Jackets</a>
          <ul class="level1">
            <li class="level2 nav-6-1-1"> <a href="#">Coats</a> </li>
            <li class="level2 nav-6-1-1"> <a href="#">Formal Jackets</a> </li>
            <li class="level2 nav-6-1-1"> <a href="#">Leather Jackets</a> </li>
            <li class="level2 nav-6-1-1"> <a href="#">Blazers</a> </li>
          </ul>
        </li>
        <li> <a href="#">Accesories</a>
          <ul class="level1">
            <li class="level2 nav-6-1-1"> <a href="#">Backpacks</a> </li>
            <li class="level2 nav-6-1-1"> <a href="#">Wallets</a> </li>
            <li class="level2 nav-6-1-1"> <a href="#">Laptops Bags</a> </li>
            <li class="level2 nav-6-1-1"> <a href="#">Belts</a> </li>
          </ul>
        </li>
      </ul>
    </li>
    <li><a href="#">Special Gift</a>
      <ul>
        <li> <a href="#">Mobiles</a>
          <ul>
            <li> <a href="#">iPhone</a> </li>
            <li> <a href="#">Samsung</a> </li>
            <li> <a href="#">Nokia</a> </li>
            <li> <a href="#">Sony</a> </li>
          </ul>
        </li>
        <li> <a href="#" class="">Music &amp; Audio</a>
          <ul>
            <li> <a href="#">Audio</a> </li>
            <li> <a href="#">Cameras</a> </li>
            <li> <a href="#">Appling</a> </li>
            <li> <a href="#">Car Music</a> </li>
          </ul>
        </li>
        <li> <a href="#">Accessories</a>
          <ul>
            <li> <a href="#">Home &amp; Office</a> </li>
            <li> <a href="#">TV &amp; Home Theater</a> </li>
            <li> <a href="#">Phones &amp; Radio</a> </li>
            <li> <a href="#">All Electronics</a> </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>
<!-- end mobile menu -->
