/*19.
  footer
  ******************************************/
@media (max-width: 530px) {
  .collapsed-block {
    padding-top: 15px;
    margin: 0;
  }
  .collapsed-block h4 {
    padding: 5px 15px 5px;
  }
  .collapsed-block .tabBlock {
    display: none;
    padding: 0px 15px 5px;
  }
  .collapsed-block .expander {
    float: right;
    cursor: pointer;
    padding: 0 8px;
    margin-top: -5px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #666;
  }

  footer h3 {
    border-bottom: 1px #eee solid;
  }
}
footer {
  overflow: hidden;
  background: #f7f7f7;
}
footer h3 {
  font-size: 15px;
  margin: 0 0 8px;
  padding: 0 0 8px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
}
footer .footer-links ul {
  margin: 0px;
  padding: 0px;
}
footer .footer-links ul li {
  list-style-type: none;
  padding: 5px 0;
}
footer .footer-links ul li a:before {
  content: "\f105";
  font-family: FontAwesome;
  font-size: 14px;
  display: inline-block !important;
  cursor: pointer;
  line-height: 20px;
  margin-right: 5px;
}
footer .footer-links ul li a {
  transition: all 0.3s ease-in-out 0s;
}
footer .footer-links ul li a:hover {
  transition: all 0.3s ease-in-out 0s;
  padding-left: 10px;
  color: #fe0100;
}
.footer-logo {
  text-align: center;
  margin: 0px 0 12px;
  display: block;
}
.footer-logo p {
  display: block;
}
.email .fa-envelope:before {
  font-size: 13px;
  color: #666;
  height: 35px;
  width: 35px;
  line-height: 32px;
  display: inline-block;
  font-style: normal;
  text-align: center;
  margin-right: 5px;
  margin-bottom: 8px;
  border: 1px solid #e8e6e2;
  background: #fafafa;
}
.footer-content .address {
  line-height: 1.5em;
}
.address i {
  float: left;
}
.address .fa-map-marker:before {
  font-size: 15px;
  color: #666;
  height: 35px;
  width: 35px;
  line-height: 32px;
  display: inline-block;
  font-style: normal;
  text-align: center;
  margin-right: 5px;
  margin-bottom: 8px;
  border: 1px solid #e8e6e2;
  background: #fafafa;
}
.phone .fa-phone:before {
  border: 1px solid #e8e6e2;
  color: #666;
  display: inline-block;
  font-size: 15px;
  font-style: normal;
  height: 35px;
  line-height: 34px;
  margin-right: 5px;
  margin-bottom: 8px;
  text-align: center;
  width: 35px;
  background: #fafafa;
}
.footer-content p {
  display: inline-block;
  padding-left: 5px;
  width: 80%;
}
.footer-newsletter {
  background: #4caf50;
  padding: 20px 0px 16px;
  text-align: left;
  margin-bottom: 30px;
}
.newsletter-inner {
  display: inline-block;
}
.footer-newsletter h3 {
  margin-top: 12px;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 0px;
  border: none;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  display: inline-block;
  float: left;
  margin-right: 15px;
  color: #fff;
}
.footer-newsletter p {
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  text-align: left;
  text-transform: none;
}
.footer-newsletter .newsletter-email {
  float: left;
  font-size: 13px;
  font-weight: 300;
  border: 0;
  background: #fff;
  color: #666;
  padding: 10px 12px;
  width: 310px;
  padding-left: 20px;
}
@media (max-width: 479px) {
  .footer-newsletter .newsletter-email {
    width: 100%;
    margin-bottom: 10px;
  }
  .footer-content p {
    font-size: 12px;
  }
}
@media (min-width: 480px) and (max-width: 1023px) {
  .footer-newsletter .newsletter-email {
    width: 250px;
  }
}
.footer-newsletter .email {
  text-transform: none;
  float: left;
}
button.subscribe:before {
  content: "\f0e0";
  font-family: FontAwesome;
  font-size: 13px;
  padding-right: 8px;
}
.footer-newsletter .subscribe {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: normal;
  float: left;
  color: #fff;
  text-decoration: none;
  background: #ffa200;
  padding: 8px 25px 8px 18px;
  border: 2px #ffa200 solid;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}
.footer-newsletter .subscribe:hover {
  border: 2px #222 solid;
  background: #222;
}
@media (max-width: 479px) {
  .footer-newsletter .subscribe {
    float: none;
  }
}
.social ul.inline-mode li a:before {
  content: "";
}
.social ul.inline-mode li a {
  border: 0px solid #666;
  color: #fff;
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  width: 40px;
  display: inline-block;
  text-align: center;
}
.social .fb a:hover,
.social .tw a:hover,
.social .googleplus a:hover,
.social .rss a:hover,
.social .instagram a:hover,
.social .linkedin a:hover {
  background: #39342e;
}
.social .fb a {
  background: #3c5b9b;
}
.social .tw a {
  background: #359bed;
}
.social .googleplus a {
  background: #e33729;
}
.social .rss a {
  background: #fd9f13;
}
.social .instagram a {
  background: #3f729b;
}
.social .linkedin a {
  background: #027ba5;
}
.social h4 {
  margin: 25px 0 5px;
}
.social ul {
  margin: 0;
  list-style: none;
  text-align: right;
  float: right;
}
@media (max-width: 640px) {
  .social ul {
    float: none;
    text-align: left;
    margin-top: 15px;
  }
}
.social ul li {
  margin-left: 7px;
  display: inline-block;
}
.social a {
  transition: background 400ms ease-in-out;
  -webkit-transition: background 400ms ease-in-out;
  -moz-transition: background 400ms ease-in-out;
  -o-transition: background 400ms ease-in-out;
}
@media (max-width: 640px) {
  .social ul li {
    margin-left: 0px;
  }
  .social {
    float: none;
    margin-bottom: 5px;
    text-align: center;
  }
}
@media (min-width: 1024px) and (max-width: 1080px) {
  .footer-newsletter .newsletter-email {
    width: 232px;
  }
  .footer-newsletter h3 {
    font-size: 15px;
  }
  .footer-newsletter p {
    font-size: 12px;
  }
  .social ul li {
    margin-left: 4px;
  }
  .social ul.inline-mode li a {
    height: 38px;
    line-height: 38px;
    width: 38px;
  }
}
.payment {
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  width: 100%;
  text-align: right;
}
@media only screen and (min-width: 300px) and (max-width: 640px) {
  .payment {
    text-align: center;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .payment {
    margin-bottom: 14px;
  }
  .social ul li {
    margin-left: 3px;
  }
  .social ul.inline-mode li a {
    height: 40px;
    line-height: 40px;
    width: 40px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1169px) {
  .payment {
    margin-bottom: 14px;
  }
}
.payment ul {
  padding: 0px;
  margin: auto;
}
.payment li {
  display: inline-block;
  list-style: none;
  margin-right: 6px;
}
.footer-coppyright {
  padding-bottom: 8px;
  border-top: 1px solid #e8e6e2;
  margin-top: 20px;
}
.coppyright {
  padding-top: 14px;
}
@media (max-width: 640px) {
  .coppyright {
    float: none;
    margin-bottom: 10px;
    text-align: center;
  }
}
@media (max-width: 480px) {
  .mm-toggle-wrap {
    display: block;
  }
}
